* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
}
h2 {	
	font-size: 35px;
}
button {
	outline: none;
	cursor: pointer;
}
.container{
	width: 75%;
	max-width: 1000px;
	margin: auto;
}
button.orange-classic{
	color: white;
	background-color: #FF5D00;
	border: none;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	font-size: 1em;;
}
button.orange-classic:disabled{
	background-color: #F08A4F;
	cursor: auto;
}
svg.linkedIn-logo {
	fill: #0077B5;
}
svg.twitter-logo {
	fill: #1dcaff;
}
svg.github-logo {
	fill: #FF5D00;
}

/* Header */
header {
	display: table;
	margin: 1rem auto !important;
}
header > * {
	display: table-cell;
	vertical-align: middle;
}

header div.contact {
	display: table;
	float: right;
}
header div.contact > *{
	display: table-cell;
	vertical-align: middle;
	padding: 0.25rem 1rem;
}

header div.contact p {
	margin-right: 0.5rem;
	font-size: 13.3333px;
}
header div.contact p span {
	color: #64CF77;
	font-size: initial;
	font-weight: bold;
}

header div.contact button {
	border: none;
	border-radius: 20px;
	background-color: #353338;
	color: white;
}
header div.contact button *{
	vertical-align: middle;
}
header div.contact button svg {
	margin-right: 0.25rem;
	fill: white;
}


/* Navigation bar */
nav {
	background-color: #353338;
}
nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0.5rem;
	margin: 0;
}
nav ul li {
	display: inline;
}
nav ul li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}
nav ul li a:hover {
	background-color: #64CF77;
}

/* Green line Header */
div.header {
	display: table;
	padding: 0 0 3rem 0; 
	margin: auto;
}
div.header > * {
	display: table-cell;
	vertical-align: middle;
}
div.header div.content{
	margin: auto;
	border-width : 0 1px; 
	border-style: solid;
	border-color: #64CF77;
	text-align: center;
	font-style: italic;	
	padding: 0 2rem;
	overflow: auto;
}
div.header div.deco {
	height: 1px;
	width: 12.5%;
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(50% - 1px), 
        #64CF77 calc(50%), 
        rgba(0,0,0,0) calc(50% + 1px)
    );
}
div.header div.content h2 {
	color: #64CF77;
	margin: 0;
}
div.header p{
	width: 75%;
	margin: auto;
}

/* BG-image header */
section#choose-sysmod h2,
section#projects h2 {
	margin-top: 0;
	text-align: center;
	font-weight: normal;
	color: white;
}
section#choose-sysmod h2 span,
section#projects h2 span {
	color: #FF5D00;
}

/* Top section */
section#top-section {
	text-align: center;
	min-height: 600px;
	background-image: url('/assets/images/photos/1024px/bureau-sysmod-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	position: relative;
}
section#top-section div.content{
	position: absolute;
	bottom: 0;
	padding: 10rem 0 3rem 0;
	width: 100%;
	color: white;
	font-style: italic;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}
section#top-section h1,
section#top-section p {
	width: 75%;
}
section#top-section h1{
	margin: 0 auto 0.5rem auto;
	font-size: 30px;
}
section#top-section p {
	font-size: 20px;
	margin: 0 auto 1.5rem auto;
}

/* Biography */
section#biography {
	overflow: auto;
	padding: 3rem 0;
}
/* Content */
section#biography > div.content {
	display: table;
}
section#biography > div.content > * {
	display: table-cell;
	vertical-align: middle;
}
section#biography > div.content div.aside {
	width: 45%;
}
section#biography > div.content div.aside > img {
	width: 100%;
	max-width: 450px;
}
section#biography > div.content div.aside > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
section#biography > div.content div.aside > ul > li {
	display: inline;
}
section#biography > div.content div.aside > ul > li > a {
	text-decoration: none;
}
section#biography > div.content div.biography {
	width: 55%;
	padding: 0 2rem;
}
section#biography > div.content div.biography p {
	margin: 0 0 1rem ;
}
section#biography > div.content div.biography button {
	float: right;
}
/* Choose Sysmod */
section#choose-sysmod {
	clear: both;
	background-image: url('/assets/images/photos/1024px/thibaud-lafont-repair-smartphone-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem 0;
}
section#choose-sysmod .container {
	overflow: auto;
	color: white;
}
section#choose-sysmod div.container > div {
	display: table;
}
section#choose-sysmod div.container > div > * {
	display: table-cell;
	vertical-align: middle;
}
section#choose-sysmod img,
section#choose-sysmod div.content {
}
section#choose-sysmod img {
	width: 100%;
	max-width: 400px;
	border: 3px solid white;
}
section#choose-sysmod div.content {
	width: 67%;
	padding: 0 2rem;
	text-align: right;
}
section#choose-sysmod ul {
	padding: 0;
	text-align: left;
}
section#choose-sysmod li {
	padding: 0.5rem 0;
	display: table;
	font-size: 18px;
}
section#choose-sysmod li > *{
	display: table-cell;
	vertical-align: middle;
}
section#choose-sysmod li svg {
	fill: #FF5D00;
	margin-right: 0.5rem;
}

/* Technologies */
section#technologies {
	padding: 3rem 0;
}
section#technologies section#honeycomb-display {
	display: table;
}
section#technologies section#honeycomb-display > * {
	display: table-cell;
	vertical-align: middle;
}
section#technologies section#honeycomb-display > div {
	padding: 0 4rem 0 0;
}
section#technologies section#honeycomb-display img {
	max-width: 300px;
}
section#technologies section#legended-infos {
	padding-top: 2rem;
}
section#technologies section#legended-infos > div {
	clear: both;
	overflow: auto;
	margin-bottom: 2rem;
}
section#technologies section#legended-infos > div > div.part {
	display: table;
	width: 50%;
	float: left;
}
section#technologies section#legended-infos > div > div.part > * {
	display: table-cell;
	vertical-align: middle;
}
section#technologies section#legended-infos > div > div.part > p {
	padding: 0 1.5rem;
}
section#technologies > div {
	text-align: center;
}

/* Projects */
section#projects {
	background: url('/assets/images/photos/1024px/thibaud-lafont-coding-session.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3rem 0;
	overflow: auto;
}
section#projects div.container > div {
	width: 25%;
	padding: 1rem 1rem 2rem 1rem;
	float: left;
}
section#projects > .container > div > img {
	display: block;
	margin: auto;
}

/* Contact */
section#contact {
	padding: 3rem 0;
	display: table;
}
section#contact section.content form div.form-message {
	text-align: left;
	padding: 0.75rem;
	margin-bottom: 0.5rem;    
	color: #155724;
    background-color: #d4edda;
	border-radius: 5px;
	border: 1px solid #c3e6cb;
}
section#contact section.content form div.form-message.success {
	color: #155724;
    background-color: #d4edda;
	border-radius: 5px;
	border: 1px solid #c3e6cb;
}
section#contact section.content form div.form-message.error {
	color: #721c24;
    background-color: #f8d7da;
	border-radius: 5px;
	border: 1px solid #f5c6cb;
}
section#contact section.content form,
section#contact section.content > div {
	display: table-cell;
	vertical-align: middle;
}
section#contact section.content form {
	width: 65%;
}
section#contact section.content form > input,
section#contact section.content form > textarea {
	display: block;
	padding: 0.75rem;
	width: 100%;
	margin-bottom: 0.5rem;
	border: none;
	border-radius: 5px;
	background-color: #F7F7F7;
}
section#contact section.content form > textarea {
	resize: none;
}
section#contact section.content form > button {
	width: 100%;
}
section#contact section.content > div > div {
	display: table;
	margin-bottom: 1.5rem;
}
section#contact section.content > div {
	padding-left: 2.5rem;
}
section#contact section.content > div > div > * {
	display: table-cell;
	vertical-align: middle;
}
section#contact section.content > div > div svg {
	fill: #353338;
	margin-right: 1rem;
}
section#contact section.content > div > div h4 {
	margin: 0;
	color: #64CF77;
}
section#contact section.content > div > div p,
section#contact section.content > div > div a {
	margin: 0.5rem 0 0 0;
}
section#contact section.content > div > div a {
	display: block;
	text-decoration: none;
	color: black;
}

/* Footer */
footer {
	background-color: #E9E9E9;
	border-top: 1px solid #D9D9D9;
}
footer section.container {
	padding: 2rem 0;
}
footer > p {
	background-color: #181818;
	padding: 1rem;
	text-align: center;
	color: white;
	margin: 0;
}